.simplex-logo-small {
  position: relative;
  top: 8px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  opacity: .7;
}

.st0 {
  fill: $primary-color;
}

.st1 {
  fill: $tertiary-color;
}
