.row-banner {
  background-color: $gray85;
  background-image: url(../img/banner.jpg);
  background-size: cover;
}

.row-banner__container {
  position: relative;
  max-width: $container-width-medium;
  margin: 0 auto;
  padding: 5em 0;
}

.row-banner__text {
  position: absolute;
  top: 50%;
  right: 20px;
  left: 20px;
  color: $white;
  font-weight: normal;
  text-align: center;

  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}


// sm and up

@media (min-width: $screen-sm-min) {
  .row-banner__container {
    position: relative;
    padding: 8em 0;
  }
}


// md and up

@media (min-width: $screen-md-min) {
  .row-banner__container {
    position: relative;
    padding: 10em 0;
  }

  .row-banner__text {
    font-size: $font36;
  }
}


// lg and up

@media (min-width: $screen-lg-min) {
  .row-banner__container {
    position: relative;
    padding: 12em 0;
  }

  .row-banner__text {
    font-size: $font44;
  }
}
